/* --- COLORS --- */
$text: #040316;
$background: #fbfbfe;
$primary: #9d1515;
$secondary: #dedede;
$accent: #bf5f36;


/* --- FONTS --- */
$big-font: 48px;
$medium-font: 24px;
$small-font: 12px;


/* --- SIZES --- */