@import "partials/variables";
@import "partials/mixins";
@import "partials/functions";

body {
  background-color: $background;
  color: $text;
  @include container;
  h1 {
    color: $primary;
    text-align: center;
    font-size: $big-font;
  }
}
.pokeName {
  text-align: left;
  padding-left: 25px;
}
.pokeSlot {
  @include poke-box;
  @include border-card;
  display: inline-block;
  background-color: $secondary;
  text-align: center;
  margin: 2% 2% 2% 2%;
}
.pokeSpritesBlock {
  background-color: $background;
  height: 200px;
  margin: 25px 25px;
}
.pokeSprites {
  width: 50%;
  padding-top: 5%;
}
.pokeType {
  display: inline-block;
  padding: 5px 15px;
  border-radius: 10px;
  @each $type, $background-color in $types-color-map {
    &.#{$type} {
      @include type-color($type);
    }
  }
}

