@import "partials/variables";
@import "partials/mixins";
@import "partials/functions";

body {
  background-color: $background;
  color: $text;
  @include container;
  h1 {
    color: $primary;
    text-align: center;
    font-size: $big-font;
  }
}

.pokeSlot {
  @include poke-box;
  display: inline-block;
  background-color: $secondary;
  text-align: center;
}

.pokeSpritesBlock {
  height: 140px;
  padding: 5% 0;
}

.pokeType {
  display: inline-block;
  padding: 0 15px;
}

