@import "partials/variables";
@import "partials/mixins";
@import "partials/functions";

body {
  background-color: $background;
  color: $text;
  @include container;
  h1 {
    color: $primary;
    text-align: center;
    font-size: $big-font;
  }
}
.pokeSlot {
  @include poke-box;
  @include border-card;
  display: inline-block;
  background-color: $secondary;
  text-align: center;
  margin: 2% 2% 2% 2%;
}
.pokeSpritesBlock {
  background-color: $background;
  height: 200px;
}
.pokeSprites {
  width: 50%;
  padding-top: 5%;
}
.pokeType {
  display: inline-block;
  padding: 0 15px;
}

